<div class="conteudo">
  <h2 class="titulo mb-3 text-center">{{title}}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="formulario_login">
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail">
      </div>
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" formControlName="senha" placeholder="Digite sua senha">
      </div>
      <button class="btn mb-3" type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
</div>
