#container {
    max-width: 1000px;
    margin: auto;
    padding: 50px;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('img/tela_login.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

#formulario_login>label {
    padding: 10px;
}

#formulario_login>input {
    padding: 10px;
}

input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: rgba(27, 29, 139, 0.5);
}

input[type=submit] {
    width: 100%;
    background-color: #184580;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
    width: 50%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #05298b;
}