<div class="conteudo">
  <h2 class="titulo mb-3 text-center">{{ title }}</h2>
  <form [formGroup]="cadastroForm" class="formulario_login">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input #emailInput type="email" id="email" formControlName="email" placeholder="Digite seu e-mail" />
      <app-vmessage *ngIf="cadastroForm.get('email')?.errors?.required && validaSubmit" text="Preencha seu email."></app-vmessage>
      <app-vmessage *ngIf="cadastroForm.get('email')?.errors?.email && validaSubmit" text="Preencha um email valido."></app-vmessage>
    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password" placeholder="Digite sua senha" autofocus />
      <app-vmessage *ngIf="cadastroForm.get('password')?.errors?.required && validaSubmit" text="Preencha sua senha."></app-vmessage>
      <app-vmessage *ngIf="cadastroForm.get('password')?.errors?.minlength && validaSubmit" text="A senha deve ter no minimo 4 caracteres."></app-vmessage>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirme sua senha:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirme sua senha"
        autofocus />
      <app-vmessage *ngIf="cadastroForm.get('confirmPassword')?.errors?.required && validaSubmit" text="Preencha sua senha novamente."></app-vmessage>
      <app-vmessage *ngIf="cadastroForm.get('confirmPassword')?.errors?.minlength && validaSubmit" text="A senha deve ter no minimo 4 caracteres."></app-vmessage>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-outline-primary w-100" routerLink="/login">Faça login</button>
      </div>
      <div class="col-6">
        <button (click)="submit()" class="btn btn btn-primary mb-3 w-100" type="submit">
          Criar conta
        </button>
      </div>
    </div>
  </form>
</div>
