<div class="conteudo">
  <h2 class="titulo mb-3 text-center">{{ title }}</h2>
  <form [formGroup]="cadastroForm" class="formulario_login">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input
        #emailInput
        type="email"
        id="email"
        formControlName="email"
        placeholder="Digite seu e-mail"
      />
    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Digite sua senha"
        autofocus
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirme sua senha:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirme sua senha"
        autofocus
      />
    </div>
    <button
      (click)="submit()"
      class="btn mb-3"
      type="submit"
      [disabled]="cadastroForm.invalid"
    >
      Entrar
    </button>
    <button routerLink="/login">Faça login</button>
  </form>
</div>
