<header>
  <h2 class="titulo">{{ title }}</h2>
  <hr class="linha" />
</header>

<div *ngIf="!loading" class="pt-3 mb-4 container">
  <form
    id="formulario_cadastro_combustivel"
    [formGroup]="editCombustivelForm"
  >
    <div class="form-group">
      <label class="label-cad-pressao">Data de Reabastecimento:</label>
      <input
        class="form-control form-control-lg"
        type="date"
        formControlName="date"
      />
      <app-vmessage
        *ngIf="editCombustivelForm.get('date')?.errors?.required"
        text="Preencha a data."
      ></app-vmessage>
    </div>
    <div class="form-group">
      <label class="label-cad-pressao">Quilometragem (km):</label>
      <input
        class="form-control form-control-lg"
        type="number"
        formControlName="km"
      />
      <!-- <mat-slider color="primary" formControlName="km" thumbLabel tickInterval="1" step="100" min="0" max="1000000" aria-label="units"></mat-slider> -->
      <app-vmessage
        *ngIf="editCombustivelForm.get('km')?.errors?.required"
        text="Preencha a quilometragem."
      ></app-vmessage>
    </div>
    <div class="form-group">
      <label class="label-cad-pressao">Preço do Combustível:</label>
      <input
        class="form-control form-control-lg"
        type="number"
        min="1"
        step="any"
        formControlName="price"
      />
      <app-vmessage
        *ngIf="editCombustivelForm.get('price')?.errors?.required"
        text="Preencha o valor."
      ></app-vmessage>
    </div>
    <div class="form-group">
      <label class="label-cad-pressao">Tipo do Combustível:</label>
      <select formControlName="gas_type">
        <option
          *ngFor="let combustivel of tiposCombustiveis"
          [value]="combustivel.value"
        >
          {{ combustivel.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label class="label-cad-pressao">Litros:</label>
      <!-- <input class="form-control form-control-lg" type="number" min="1" step="any" formControlName="volume"> -->
      <mat-slider
        color="primary"
        formControlName="volume"
        thumbLabel
        tickInterval="1"
        step="1"
        min="0"
        max="100"
        aria-label="units"
      ></mat-slider>
      <app-vmessage
        *ngIf="editCombustivelForm.get('volume')?.errors?.required"
        text="Preencha a quantidade abastecida."
      ></app-vmessage>
    </div>
    <div class="form-group">
      <label class="label-cad-pressao">Observações: </label>
      <input
        class="form-control"
        id="observacoes"
        formControlName="observation"
      />
    </div>
    <div class="col text-center">
      <button
        class="btn btn-primary mb-3"
        type="submit"
        [disabled]="editCombustivelForm.invalid"
      >
        Cadastrar
      </button>
    </div>
  </form>
</div>

<app-loading [loading]="loading"></app-loading>
