
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: white !important;
}


.dataTables_wrapper .dataTables_length {
  display: inline-block;
}

.dataTables_wrapper .dataTables_filter {
  color: white !important;
  display: inline-block;
}

a.last { display: none !important; }
a.first { display: none !important; }

.dataTables_wrapper .dataTables_filter input, select {
  color: white;
}
