.icon-radius{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: darkgray;
  margin-top: 20px;
}

.titulo {
  font-size: 1.2rem;
  color: #EEEEEE;
  text-align: center;
  margin-top: 1rem;
}

.linha {
  background-color: #EEEEEE;
  width: 10px;
}
.container-menu{
  justify-content: center;
  text-align: center;
  color: #EEEEEE;
  margin-right: 5%;
  margin-left: 5%;
}

.icons{
  width: 75%;
  margin-top: 12%;
}

::-webkit-input-placeholder {
  color: #999999;
  font-size: 1rem;
}

::-moz-placeholder {
  color: #999999;
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: #999999;
  font-size: 1rem;
}

::placeholder {
  color: #999999;
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  margin-top: 1rem;
}
