<div *ngIf="!loading;">
  <div *ngIf="semValores; else possuiValores" class="p-3">
    <p>Você ainda não possui registros.</p>
  </div>

  <ng-template #possuiValores>
    <div echarts [options]="chart_manutencao" class="demo-chart"></div>
    <div echarts [options]="chart_gas" class="demo-chart"></div>
    <div echarts [options]="chart_pneu" class="demo-chart"></div>
    <div echarts [options]="chart_km" class="demo-chart"></div>
  </ng-template>
</div>

<app-loading [loading]="loading"></app-loading>
