<div *ngIf="!loading">
  <fusioncharts width="100%" type="Column2D" dataFormat="JSON" [dataSource]="dataSourceManutencao"></fusioncharts>
  <fusioncharts width="100%" type="Column2D" dataFormat="JSON" [dataSource]="dataSourceCombustivel"></fusioncharts>
  <fusioncharts width="100%" type="Column2D" dataFormat="JSON" [dataSource]="dataSourcePneu"></fusioncharts>
  <fusioncharts width="100%" type="Column2D" dataFormat="JSON" [dataSource]="dataSourceKm"></fusioncharts>
</div>

<app-loading [loading]="loading"></app-loading>
