.imagem {
  width: 100%;
  border-radius: 20px;
}

.botao {
  margin: auto;
}

.linha {
  margin: 1rem 0 0;
}

header {
  // background-color: #EEEEEE;
  // background-color: rgba(0, 0, 0, 0.796);
}

.menu {
  background-color: #EEEEEE;
}
