<header>
  <div class="container">
    <div class="row p-3">
      <div class="col-3 text-center botao">
        <button type="button" class="btn btn-secondary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <fa-icon [icon]="icon"></fa-icon>
        </button>
      </div>
      <div class="col-9">
        <a [routerLink]="['']"><img class="imagem" src="../../../assets/herbie.png"></a>
      </div>
    </div>
  </div>
  <hr class="linha">
  <div id="collapseBasic" [collapse]="isCollapsed" *ngFor="let pagina of paginas">
    <div class="well well-lg card card-block card-header menu" (click)="direcionar(pagina.rota)">
      {{ pagina.nome }}
    </div>
  </div>
</header>
