<header>
  <h2 class="titulo">{{ title }}</h2>
  <hr class="linha" />
</header>

<div class="pt-3 mb-4 container" *ngIf="!loading">
  <form [formGroup]="editManutencaoForm">
    <div class="form-group">
      <label class="label-cad-manu">Data da realização da manutenção: </label>
      <input
        class="form-control form-control-lg"
        type="date"
        formControlName="date"
      />
      <app-vmessage
        *ngIf="editManutencaoForm.get('date')?.errors?.required"
        text="Preencha a data."
      ></app-vmessage>
    </div>
    <label class="label-cad-manu">Categoria do serviço: </label>
    <select class="form-control form-control-lg" formControlName="category">
      <option></option>
      <option>Mecanico</option>
      <option>Pintura</option>
      <option>Limpeza</option>
    </select>
    <div class="form-group mt-3">
      <label class="label-cad-manu">Resumo do serviço executado: </label>
      <input
        type="text"
        class="form-control form-control-lg"
        formControlName="service"
      />
      <app-vmessage
        *ngIf="editManutencaoForm.get('service')?.errors?.required"
        text="Preencha o resumo do serviço."
      ></app-vmessage>
    </div>
    <div class="form-group">
      <label class="label-cad-manu">Preço: </label>
      <input
        class="form-control form-control-lg"
        formControlName="price"
        type="number"
        step="0.01"
        placeholder="Digite o preço"
      />
      <app-vmessage
        *ngIf="editManutencaoForm.get('price')?.errors?.required"
        text="Preencha o valor do serviço."
      ></app-vmessage>
    </div>
    <div class="form-group">
      <label class="label-cad-manu">Observações: </label>
      <textarea
        class="form-control"
        formControlName="observation"
        rows="3"
      ></textarea>
    </div>
    <div class="col text-center">
      <button class="btn btn-primary mb-3 mr-3" (click)="editar()">
        Editar
      </button>
      <button class="btn btn-primary mb-3 ml-3" (click)="remover()">
        Excluir
      </button>
    </div>
  </form>
</div>

<app-loading [loading]="loading"></app-loading>
