<div class="container fundo">
    <form>       
        <div class="form-group">
            <label class="label-cad-pneu">Posição do pneu: </label><br>
            <select class="form-control" aria-label="Default select example">
                <option selected>Selecione a posição</option>
                <option value="1">Frente Direita</option>
                <option value="2">Frente Esquerda</option>
                <option value="3">Traseira Direita</option>
                <option value="4">Traseira Esquerda</option>
              </select>
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Pressão do pneu: </label>
            <input class="form-control form-control-lg" type="number" placeholder="Digite a pressão do pneu em libras.">
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Data de calibragem: </label>
            <input class="form-control form-control-lg" type="date">
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Observações: </label>
            <textarea class="form-control" id="observacoes" rows="3"></textarea>
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>
    </div>  


