<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastro Pneu</title>
</head>
<body class="body1">
    <div class="container">
    <form>       
        <div class="form-group">
          <label class="label-cad-pneu" >ID Pneu: </label>
          <input class="form-control form-control-lg" type="text" placeholder="Digite o ID do pneu.">
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Posição do pneu no carro: </label>
            <input class="form-control form-control-lg" type="text" placeholder="Digite a posição onde o pneu será colocado.">
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Pressão do pneu: </label>
            <input class="form-control form-control-lg" type="text" placeholder="Digite a pressão do pneu em libras.">
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Data de compra: </label>
            <input class="form-control form-control-lg" type="date">
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Data de troca: </label>
            <input class="form-control form-control-lg" type="date">
        </div>
        <div class="form-group">
            <label class="label-cad-pneu">Observações: </label>
            <textarea class="form-control" id="observacoes" rows="3"></textarea>
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>
    </div>  

</body>
</html>
